.loaded {

  .page-header__menu {
    opacity: 1;
  }

  .page-header__logo {
    opacity: 1;
    transform: translateX(0);
  }

  .screen__footer {
    transform: translateY(0);
  }
}


// для анимации фона при переходе с экрана *история* на экран *призы*
.full-color-bg {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: $c-dark;
  will-change: transform; // для оптимизации передает инфу в браузер что мы будем анимировать
  transform: translateY(-100%);
}


// анимации на экране *правила*
@keyframes rulesItemCircle {
  0% {
    transform: scale(0);
  }


  70% {
    transform: scale(1.2);

  }

  100% {
    transform: scale(1);

  }
}

@keyframes rulesItemNumb {
  0% {
    opacity: 0;
  }

  80% {
    color: inherit;
    opacity: 0.6;
  }
  100% {
    color: inherit;
    opacity: 1;
  }
}

@keyframes rulesbtnText {
  0% {
    color: transparent;
  }

  100% {
    color: $c-dark;
  }
}


 // для анимации букв
 .text-animation {
  line-height: 1.25;
  @include lhCrop(1.2);
  display: inline-block;
  overflow: hidden;

  & > span {
    @include lhCrop(1.2);
    transform: translateY(120%);
    display: inline-block;
    will-change: transform;
  }

}

.active-text .text-animation > span {
  transform: translateY(0);
}
